@import url(../scss/base/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
.link {
  text-decoration: none;
  color: #29CAE0; }

.nav__item * {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
  font-size: 1.2em; }

.img--avatar, .img--frame {
  max-width: 80%;
  padding: 10px; }

.headline--primary {
  padding-left: 25px;
  color: #76D7C4; }

.headline--secondary {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 2%;
  font-weight: normal;
  font-size: 20px; }

.nav__item {
  display: block;
  margin: 0px auto;
  list-style: none;
  text-align: center;
  margin-top: 20px;
  width: 90%; }

.btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
  display: block;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase; }

.grid__col--1.theme__colors, .grid__col--2.theme__colors, .grid__col--3.theme__colors, .grid__col--4.theme__colors, .grid__col--5.theme__colors, .grid__col--6.theme__colors, .grid__col--7.theme__colors, .grid__col--8.theme__colors, .grid__col--9.theme__colors, .grid__col--10.theme__colors, .grid__col--11.theme__colors, .grid__col--12.theme__colors {
  border-radius: 5px;
  padding: 10px; }

@media (min-width: 769px) {
  [class^="btn--"].theme__colors {
    display: inline-block;
    width: 15%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase; } }
@media (min-width: 769px) {
  .container ul {
    display: flex; } }
.container {
  font-family: "Montserrat", sans-serif; }

.grid__row {
  display: block;
  margin: 70px auto; }
  .grid__row:first-of-type {
    margin-top: 0; }
  @media (min-width: 769px) {
    .grid__row {
      display: flex; }
      .grid__row:after {
        content: "";
        display: table;
        clear: both; } }

.card {
  width: 90%;
  margin: 0 auto;
  font-size: 1.3em; }

.blockquote {
  border-left: 8px solid green;
  padding-left: 25px;
  border-radius: 5px;
  border-color: #76D7C4;
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 70px; }

.centered {
  margin: auto; }

.theme__colors.grid__col--1 {
  background-color: red; }
.theme__colors.grid__col--2 {
  background-color: blue; }
.theme__colors.grid__col--3 {
  background-color: #DA7AF5; }
.theme__colors.grid__col--4 {
  background-color: #29CAE0; }
.theme__colors.grid__col--5 {
  background-color: #50C878; }
.theme__colors.grid__col--6 {
  background-color: #2A7DB2; }
.theme__colors.grid__col--7 {
  background-color: #E16865; }
.theme__colors.grid__col--8 {
  background-color: #FF7F50; }
.theme__colors.grid__col--9 {
  background-color: green; }
.theme__colors.grid__col--10 {
  background-color: yellow; }
.theme__colors.grid__col--11 {
  background-color: orange; }
.theme__colors.grid__col--12 {
  background-color: #76D7C4; }

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }

  .grid__col--2 {
    width: 15%; }

  .grid__col--3 {
    width: 23.5%; }

  .grid__col--4 {
    width: 32%; }

  .grid__col--5 {
    width: 40.5%; }

  .grid__col--6 {
    width: 49%; }

  .grid__col--7 {
    width: 57.5%; }

  .grid__col--8 {
    width: 66%; }

  .grid__col--9 {
    width: 74.5%; }

  .grid__col--10 {
    width: 83%; }

  .grid__col--11 {
    width: 91.5%; }

  .grid__col--12 {
    width: 100%; } }
[class^="grid__col--"] {
  margin-top: 12px;
  margin-bottom: 12px; }
  @media (min-width: 769px) {
    [class^="grid__col--"] {
      display: flex;
      align-items: center;
      justify-content: space-around;
      float: left;
      min-height: 1px;
      padding-left: 10px;
      padding-right: 10px; }
      [class^="grid__col--"] + [class^="grid__col--"] {
        margin-left: 2%; }
      [class^="grid__col--"]:last-of-type {
        float: right; } }

.nav {
  padding-left: 0; }

.nav__item *:visited, .nav__item *:link {
  color: #000; }
.nav__item *:hover {
  background-color: #76D7C4;
  color: #fff; }

@media (min-width: 769px) {
  .nav__item {
    display: block;
    margin: 0 10px auto;
    flex-grow: 1;
    min-width: 100px;
    font-size: 0.8em;
    max-height: 50px; }
    .nav__item * {
      padding: 10px 0; } }
.img--logo {
  display: block;
  margin: 30px auto; }
.img--avatar {
  display: block;
  margin: 20px auto; }
  @media (min-width: 769px) {
    .img--avatar {
      max-width: 60%; } }
.img--frame {
  display: block;
  margin: 30px auto;
  border: 1px solid grey; }

.btn--default {
  background-color: #29CAE0;
  width: 90%; }
.btn--success {
  background-color: #50C878;
  width: 90%; }
.btn--error {
  background-color: #E16865;
  width: 90%; }
.btn--warning {
  background-color: #FF7F50;
  width: 90%; }
.btn--info {
  background-color: #9678B6;
  width: 90%; }

.form .btn--default {
  width: 90%; }

.form {
  display: block;
  margin: 0 auto;
  width: 90%;
  align-self: flex-start; }
  .form__input {
    display: block;
    margin: 0 auto;
    border: none;
    border-bottom: 5px solid #76D7C4;
    width: 80%;
    padding: 10px; }
  .form__label--hidden {
    display: none; }

/*# sourceMappingURL=styles.css.map */
